<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".application.MainApplication"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@drawable/run"
            android:label="@string/app_name"
            android:roundIcon="@drawable/run"
            android:supportsRtl="true"
            android:theme="@style/Theme.CartoonApp"
            android:usesCleartextTraffic="true"
            tools:targetApi="31">
        <activity
                android:name=".BackupAndRecoveryActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".CartoonHistoryActivity"
                android:exported="false"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".searchActivity"
                android:exported="false"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".FavoritesActivity"
                android:exported="false"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".CartoonItemActivity"
                android:exported="false"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".ContentActivity"
                android:exported="false"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                    android:name="android.app.shortcuts"
                    android:resource="@xml/shortcuts" />
        </activity>
    </application>

</manifest>